// main: ../style.less

.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;

  @media @mobile {
    background-color: #fff;
    box-shadow: 0 5px 10px fade(@black, 30%);
    text-align: center;
    height: auto;
    padding: 1rem;
    width: 100%;
    position: absolute;
    display: none;
    top: 100%;
    right: 0;
    z-index: 1000;

    &.show {
      display: flex;

      
    }
  }
}

.nav__link {
  position: relative;
  font-size: 0.93em;
  color: @black;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  padding-bottom: 2px;
  margin-left: 2rem;

  &::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: @black;

    position: absolute;
    bottom: -5px;
    left: 0;
    z-index: 1;

    transition: .2s width linear;
  }

  &:hover:not(.nav__link--btn) {
    border-color: @black;

    &::after {
      width: 100%;
    }
  }

  /* modifiers */
  &--btn {
    padding: 0.66rem 2rem;
    border: 2px solid @black;
    border-radius: 20px;
    transition: background-color .2s linear,
                color .2s linear;

    &:hover {
      background-color: @black;
      color: @white;
    }
  }

  @media @mobile {
    margin-left: 0;
    padding: 0.5rem 1rem;
    width: 100%;
  }
}